---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.page-btn-container {
    clear: both;
}

.page-btn-left {
    float: left;
}

.page-btn-right {
    float: right;
}
